.poster-container {
  position: relative;
  display: inline-block;
}
.badge-warning {
  display: flex;
  align-items: center;
}
.rating-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15%;
  text-align: center;
  background-color: rgba(184, 184, 184, 0.5);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  color: #fff;
}
